	{% for annonce in annonces %}
		<div class="grix xs2 sm3 gutter-0 card">
			<div class="primary flex vcenter fx-center">
        <img src="{{ asset('uploads/images/annonces/' ~ annonce.images[0].name)|imagine_filter('square') }}" alt="{{ annonce.title }}">
			</div>
			<div class="col-sm2">
				<div class="card-header"><a href="{{ path('annonces_details', {slug: annonce.slug})}}">{{ annonce.title }}</a></div>
				<div class="card-content">
                    <p>Catégorie : {{ annonce.categories.name }}</p>
					<p>
						{{ annonce.content|striptags|u.truncate(50, '...') }}
					</p>
					<div class="txt-red">
						{% if is_granted("ROLE_USER") %}
                            {% set isFavorite = false %}
							{% for favoris in annonce.favoris %}
								{% if favoris.id == app.user.id %}
                                    {% set isFavorite = true %}
								{% endif %}    
							{% endfor %}
                            {% if isFavorite %}
								<a href="{{ path('annonces_retrait_favoris', {id: annonce.id}) }}"><i class="fas fa-heart"></i></a>
                            {% else %}
								<a href="{{ path('annonces_ajout_favoris', {id: annonce.id}) }}"><i class="far fa-heart"></i></a>
                            {% endif %}

						{% else %}
							<i class="far fa-heart"></i>
						{% endif %}
						
					</div>
				</div>
			</div>
		</div>
	{% endfor %}

    {# On crée des variables personnalisées #}
    {% set queryParams = app.request.query.all %}
    {% set queryString = queryParams|filter((v, k) => k != "page" and k != "ajax")|url_encode %}


    <ul class="pagination">
        <li class="{{ (page == 1) ? 'disabled' : '' }}">
            <a href="?page=1&{{queryString}}">
                <i class="fas fa-step-backward"></i>
            </a>
        </li>    
        <li class="{{ (page == 1) ? 'disabled' : '' }}">
            <a href="{{ (page > 1) ? '?page=' ~ (page - 1) : '' }}&{{queryString}}">
                <i class="fas fa-angle-left"></i>
            </a>
        </li>
        {% set pages = (total / limit)|round(0, 'ceil') %}
        {% for item in 1..pages %}
            <li class="{{ (page == item) ? 'active' : '' }}">
                <a href="?page={{ item }}&{{queryString}}">{{ item }}</a>
            </li>
        {% endfor %}
        <li class="{{ (page == pages) ? 'disabled' : '' }}">
            <a href="{{ (page < pages) ? '?page=' ~ (page + 1) : '' }}&{{queryString}}">
                <i class="fas fa-angle-right"></i>
            </a>
        </li>
        <li class="{{ (page == pages) ? 'disabled' : '' }}">
            <a href="?page={{ pages }}&{{queryString}}">
                <i class="fas fa-step-forward"></i>
            </a>
        </li>

    </ul>
